.form {
    background-color: #0F0F0F;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.form-item {
    margin-bottom: 10px;
    border-radius: 14px;
}

.custom-input {
    background-color: #FFFFFF;
    border: 1px solid #444;
    color: black;
    border-radius: 10px;
    height: 40px;
    padding: 8px;
}


.field-label {
    color: #FFFFFF;
}