/* ModalComponent.css */
.custom-modal .ant-modal-content {
    background-color: #0F0F0F; /* Altere para a cor de fundo desejada */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
  }
  
 
 